body {
font-family: 'Times';
background:black;
margin:0;
color:white;
display: grid;
grid-template-columns: auto;
grid-template-rows:50% 50%;
grid-template-areas:
"header"
"body"
"footer"

}

a { 
text-decoration: none;
color: white;
font-size: 1.8em;
font-weight: 700;
}

img {
width:100%;
justify-self: center;
}

header{
background:#black;
padding: 1em;
grid-area: header;

}
 h1 {
text-align: center;
font-size: 50px;
font-family: serif;

}
.container{
display:grid;
grid-template-colomns: 50% 50%;
padding:0 0;
grid-area: body;

}

footer {

grid-area:footer;
background:#998100;
padding: 0.3em;
}

ul {
margin:0 5%;
padding:0;
display: grid;
grid-template-columns: repeat(2, auto);
grid-template-rows: repeat(2, auto);
list-style-type: none;

}

ul li {
padding: 2em;
color:#fffff;


}

ul li span {
display:block;
font-size: 1.4em;
margin-bottom:1em;
color: white;
}


@media only screen and (max-width: 640px) {
body {
grid-template-areas:
"header"
"footer"
"body"

}

ul, .container {
grid-template-columns: auto;
grid-template-rows: auto;
}
.container {
text-align:center;
}

}
/* Navigation */
.topnav {
  overflow: hidden;
  background-color: #998100;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #998100;
  color: white;
}

.active {
  background-color: black;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* End Navigation */